config SLLIN
    tristate "Serial Line LIN interface"
    depends on NET && TTY
    ---help---
      This is a driver for the Serial Line LIN interface.

      To compile this driver as a module, choose M here: the
      module will be called sllin.

config SLLIN_BAUDRATE
    int "Default Baud Rate"
    default 19200
    help
      Set the default baud rate for the LIN interface.

config SLLIN_MASTER
    bool "Master Mode"
    default y
    help
      Set this option to enable Master mode. If disabled, the interface
      will operate in Slave mode.

config SLLIN_BREAK_BY_BAUD
    bool "Generate Break by Baud Rate Change"
    default n
    help
      Set this option to generate LIN break by temporarily changing
      the baud rate. If disabled, break will be generated manually.
